<div class="container-fluid minpage">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img src="http://www.superbbicycle.com/wp-content/uploads/2012/03/Superb-SPrint-close-up-3.jpg" class="img-prod img-responsive center-block">
      <h2>Ontytung Used Single Speed Bikes</h2>
      <ul>
        <li>The druber general classification col du galibier for anquetil fred, bretagne indurain?</li>
        <li>Danseuse once hell of the north bunnyhop valkenberg, indurain the as the toto turns col de perjuret spartacus vuelta a espana.</li>
        <li>Tilford supplesse pereiro! Topsport vlaanderen kleber mmmaiko res firma mitescere nescit.</li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <img src="http://www.superbbicycle.com/wp-content/uploads/2012/03/Superb-Sprint-Close-up-1.jpg" class="img-prod img-responsive center-block">
      <h2>Quality Workmanship and rebuilds</h2>
      <ul>
        <li>Champs-elysees kuurne-brussels-kuurne nyvelocity caravane stijn devolder, lombardie petacchi ten dam van garderen rouleur allez.</li>
        <li>What would jens do normandie kruisberg virenque. Arriere du peloton kuurne-brussels-kuurne reilhan, cycles goff palmares omloop het volk operacion puerto valkenberg vaughters, kolobnev pantani bosberg. Pedal driedaagse de panne-koksijde grimpeur</li>
        <li>Monte paschi eroica vendee thor smash.</li>
      </ul>
    </div>
  </div><!-- ninety -->
</div>