<div class="row ninety">
  <div class="picprofile cover col-xs-12 col-sm-6 col-md-4"></div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h2>Things I've done:</h2>
    <ul>
      <li>Data analyst</li>
      <li>Social media monitor</li>
      <li>Events company manager</li>
      <li>UK tax specialist</li>
      <li>Mixologist & restaurant manger</li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h2>Skills I've got:</h2>
    <ul>
      <li>Sound knowledge of foundations of data analysis and a personal enthusiasm for web development and apps.</li>
      <li>Highly IT literate with good knowledge of Word, Excel, financial software and intermediate SQL, HTML, CSS, basic Visual Basic and JavaScript.</li>
      <li>An experienced and energetic communicator with clear, concise written and verbal skills with many years of experience dealing with customers, clients, employees and management in many different industries.</li>
      <li>Great creative problem solving skills with a thorough and diligent approach to finding solutions.</li>
      <li>English native speaker, German to B1 level.</li>
    </ul>
  </div>
</div><!-- ninety -->
