<section class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h3><span class="glyphicon glyphicon-envelope"></span> Email: <a href="mailto:jmegallen@gmail.com?Subject=Lets%20talk" target="_top">jmegallen@gmail.com</a></h3>
			<h3><span class="glyphicon glyphicon-phone-alt"></span> Mobile: +49 176 8764 1738</h3>
			<h3><span class="glyphicon glyphicon-facetime-video"></span> Skype: jmegallen</h3>
			<h3><span class="glyphicon glyphicon-road"></span> Address:</h3>
			<h3>Gottlieb-Dunkel-Straße 199</h3>
			<h3>12099 Berlin</h3>
			<h3>Germany</h3>
			<div id="map"></div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group" id="contactform">
				<h3>Name</h3><label for="name"></label> <input class="form-control" id="name" placeholder="Your name.." type="text">
				<h3>Phone</h3><label for="phone"></label> <input class="form-control" id="phone" placeholder="Your telephone.." type="text">
				<h3>Email address</h3><label for="name"></label> <input class="form-control" id="emailinput" placeholder="Your email.." required="required" type="email">
				<h3>Message</h3><label for="message"></label> 
				<textarea class="form-control" cols="25" id="message-box" placeholder="Your message here...." rows="5" style="resize:none"></textarea>
				<p></p>
				<button class="btn btn-default" id="subbut" type="submit">Submit</button>
			</div>
		</div>
	</div>
</section>