
<section class="container-fluid">

	<div class="row">
		<h1>Welcome to Bike Berlin</h1>
	</div>

	<div class="row">
	<%= image_tag("racebike.jpg", class: "img-responsive col-md-4") %>
	<%= image_tag("racebike1.jpg", class: "img-responsive col-md-4") %>
	<%= image_tag("racebike2.jpg", class: "img-responsive col-md-4") %>
	</div>

	<div class="row">
		<h2>Your source of used bikes in Berlin</h2>
	</div>

	<%= yield %>
	
</section>
