// Place all the styles related to the products controller here.

.img-prod {
	max-width: 90%;
}
.field {
	color: black;
}
.actions {
	color: black;
}
label {
	color: white;
}
.showpic {
  max-width: 50%;
}
.newprodbut {
	width: 18em;
}
.prodbut {
	width: 6em;
}
.prodtile {
	height: 35em;
	padding: 1em;
}

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
