// Place all the styles related to the products controller here.
img {
	max-width: 33.33333%;
}
.img-prod {
	max-width: 33.33333%;
}
.field {
	color: black;
}

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
