// Place all the styles related to the products controller here.

.img-prod {
	max-width: 90%;
	padding: 2em 2em 2em 2em;
}
.field {
	color: black;
}
.actions {
	color: black;
}
label {
	color: white;
}
.showpic {
  max-width: 50%;
}
.newprodbut {
	width: 18em;
}
.prodbut {
	width: 6em;
}
.prodtile {
	height: 35em;
	padding: 2em 1em;
	margin-top: 3em;
}
.footer {
	padding-top: 6em;
	clear: both;
	display: block;
}

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
