<div class="row">
  <h1>Bikes</h1>
  <%= link_to 'New Product', new_product_path, class:"btn newprodbut btn-default", type:"button" %>
</div>
<div class="row">

  <% cache @products do %>    
    <%= render @products %>
  <% end %>

</div>
<div class="apple_pagination">
  <%= will_paginate @products %>
</div>
