<div class="row">
	<h1>New Product</h1>
</div>

<div class="row">
	<%= render 'form', product: @product %>
</div>

<div class="row">
	<%= link_to 'Back', products_path, class:"btn btn-default"%>
</div>

